.footer {
  font-size: 1.35417rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1.04px;
  h3 {
    font-weight: 700;
  }
  .left ,.right {
    p {
      margin-top: 1.35417rem;
      @media screen and (max-width :767px) {
        margin-top: 5rem;
      }
    }
  }
  .right h3:not(:first-child) {
    margin-top: 3.25rem;
  }

  .right{
    // transition: all 1s;
    @media screen and (max-width :767px) {
      height: 0;
      overflow: hidden;
    }
  }
}
.title_name_company {
  
}