html {
  font-size: 1vw;
  scroll-behavior: smooth;
}

.content {
  width: 91.66%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  color: #444;
  font-size: 3.4375rem;
  font-weight: 700;
  line-height: 116.662%;
  letter-spacing: -0.10313rem;
}

.description {
  color: #444;
  font-size: 1.35417rem;
  font-weight: 700;
  line-height: 116.662%;
  letter-spacing: -0.04063rem;
}
.subDescription {
  color: #888;
  font-size: 1.04167rem;
  font-weight: 400;
  line-height: 116.662%;
}
