.slide-history {
  .swiper-slide:nth-child(2n) {
    .item-history {
      margin-top: 18.16rem;
      flex-direction: column-reverse;
      .circle {
        top: 5.1rem;
      }
      .image {
        order: 1;
        margin-top: 4.4rem;
      }
      .year {
        order: 2;
      }
    }
  }
  .swiper-slide:nth-child(2n+1) {
    .item-history {
      .circle {
        bottom: 2.6rem;
      }
      .year {
        margin-top: 1.9rem;
      }
    }
  }
}
.line {
  border-bottom: 1.5px dashed #444;
  width: 100%;
}
.line-sm {
  width: 100%;
  border-bottom: 1px dashed #444;
}

.popUpRef{
  transform: translateX(-100%);
  transition: all 0.3s;
}

#historyMobile {
  .swiper-slide{
    height: fit-content !important;
  }
}


.image_prize{
  // overflow: hidden;
  // position: absolute;
  // inset: 0;
  transition: all 0.3s;
  &:hover{
    transform: scale(1.05);
  }
} 
.image_prize.active:hover{
  transform: scale(1);
}
.prize_item{
  position: relative;
  overflow: hidden;
}

.description_prize{
  position: absolute;
  bottom: -1px;
  left: 0;
  // right: 1.55rem;
  padding: 2.08rem 3.44rem 2.14rem 2.13rem;
  background: #444444b5;
  transform: translateY(100%);
  z-index: 10;
  @media screen and (max-width: 767px) {
    padding: 3.08rem 3.44rem 5.14rem 4.13rem;
  }
}
.description_prize.active{
  animation: upDes 1s forwards;
  bottom: 2.25rem;
}
@keyframes upDes{
  from{
  transform: translateY(100%);

  }to{
    transform: translateY(0);

  }
}
