.design {
  .title b {
    font-weight: 700;
  }
}

.product {
  .slide-product {
    .btn-product {
      transition: all .3s;
      @media screen and (min-width:1280px) {
        opacity: 0;
      }
    }
    &:hover .btn-product {
      opacity: 1;
    }
  }
}

.partner {
  .slide-partners{
    .partner-item {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
  .title-connect{
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 5px;
      background: #444;
      position: absolute;
      right: 0;
      bottom: -1rem;
      transition: all .5s;
    }
    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}

.overlay_banner_mobile{
  position: absolute;
  background: linear-gradient(#cfeae4,#fff);
  height: 216rem;
  // z-index: 1;
  width: 100%;
}
.tissue{
  opacity: 0;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
  -webkit-overflow-scrolling: touch;

  // @media screen and (max-width:767px) {
  //   transition: all 0.1s;
  // }
}

.tissue:first-child{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.scrolling-words-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700; 
  flex-direction : column-reverse
}

#navheader{
  transition: all 0.3s;
}


.text-animate{
  transition: all 0.5s;
  position: relative;
  &:hover::after{
    width: 100%;
  }
  &:hover{
    transform: scale(1.01);
  }
  
}

.text_product_item_home{
  @media screen and (max-width :767px) {
    & > br {
      display: none;
    }
  }
}
.text-animate::after{
  transition: all 0.3s;
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 0;
  border-bottom: 2px solid #444;
}

.scrolling-words-box {
  height: 7rem;
  overflow: hidden;
  @media screen and (max-width:767px) {
    height: 12rem;
  }
  
  ul {
    animation: scrollUp 4s infinite ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    @media screen and (max-width:767px) {
        align-items: unset;
        // padding: 0 4.27rem;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      list-style: none; 
      @media screen and (max-width:767px) {
        justify-content: start;
      }
    }
  }
}

.text_hover:hover{
  color: #00C65B;
}
.menu_dropdown{
  transition: all 0.5s;
  opacity: 0;
  background-color: #fff;
  visibility: hidden;
}

.text_link_nav:hover .menu_dropdown{
  opacity: 1;
  visibility: visible;

}
.sticky_box{
  
  @media screen and (min-width:768px) {
    background:linear-gradient(rgba(207, 234, 228, 1),rgba(255, 255, 255, 1))
  }
}

// video

.video_slide_home{
  video{
    object-fit: cover;
  }
}
.text_seemore{
  &:hover{
    color: #0B7CDE;
  }
}

.arrow_up{
  transform: translateY(200%);
  transition: all 0.6s;
}

@keyframes scrollUp {
  0% {
      transform: translateY(calc(-100%/3*0))
  }
  25% {
      transform: translateY(calc(-100%/3*1))
  }
  50% {
      transform: translateY(calc(-100%/3*2))
  }
  75% {
      transform: translateY(calc(-100%/3*1))
  }
  100% {
      transform: translateY(calc(-100%/3*0))
  }
}