.banner-service {
  background: lightgray 0px -36.5px / 100% 126.108% no-repeat;
}
.imageSlideOtherItem {
  background: lightgray -6px -20px / 103.614% 112.664% no-repeat;
}

.slideFeatureImage {
  .swiper-pagination-bullet {
    background: #444;
    width: 0.67708rem;
    height: 0.67708rem;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }
}
