// base
@import "./base/base";
@import "./base/reset";

// component
@import "./components/footer";
@import "./components/navbar";
@import "./components/banner";

// pages
@import "./pages/home";
@import "./pages/about-us";
@import "./pages/service";
@import "./pages/blog";
@import "./pages/recruitment";
@import "./pages/contact";
@import "./pages/design";
@import "./pages/technology";




